# =========================
# Python Runtime
# =========================
# Streamlit Cloud 建议同时创建 runtime.txt：
# python-3.11


# =========================
# Streamlit
# =========================
streamlit==1.36.0
rich==13.7.1


# =========================
# Scientific Computing
# =========================
numpy==1.26.4
pandas==2.2.3
pillow==10.4.0


# =========================
# Excel Export
# =========================
XlsxWriter==3.2.0


# =========================
# Network / Utils
# =========================
requests==2.32.3
websocket-client==1.8.0


# =========================
# Fuzzy Logic
# =========================
scikit-fuzzy==0.4.2


# =========================
# OpenCV
# headless 避免 libGL.so.1 报错
# =========================
opencv-python-headless==4.8.1.78


# =========================
# PyTorch CPU
# =========================
torch==2.5.1
torchvision==0.20.1


# =========================
# YOLOv8
# =========================
ultralytics==8.3.74
